<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zc.blog.mapper.ArticleMapper">

    <select id="findAll" resultType="com.zc.blog.domain.Article">
        SELECT (title, author, date, comments, outline) FROM article
    </select>

    <select id="findOutLine" resultType="com.zc.blog.domain.Article">
        SELECT id, title, author, date, comments, outline FROM article
    </select>

    <select id="findArticleHtmlById" resultType="String">
        SELECT html FROM article
        WHERE id = #{id}
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO article (title, author, date, comments, outline, md, html, tags, category)
        VALUE (#{title}, #{author}, #{date}, #{comments}, #{outline}, #{md}, #{html}, #{tags}, #{category})
    </insert>

    <update id="update">
        UPDATE article SET title = #{title},
             author = #{author},
             date = #{date},
             comments = #{comments},
             outline = #{outline},
             md = #{md},
             html = #{html},
             tags = #{tags},
             category = #{category}
        WHERE id = #{id}
    </update>

    <update id="deleteById">
        UPDATE article SET is_del = 1
        WHERE id = #{id}
    </update>

</mapper>