<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zc.blog.mapper.TagMapper">
    <select id="findAll" resultType="com.zc.blog.domain.Tag">
        SELECT * FROM tag
        WHERE is_del = 0
        ORDER BY id
    </select>

    <update id="update">
        UPDATE tag
        SET name = #{name}, category_id = #{categoryId}, link = #{link}
        WHERE id = #{id}
    </update>

    <insert id="insert">
        INSERT INTO tag (name, category_id, link)
        VALUE (#{name}, #{categoryId}, #{link})
    </insert>

    <update id="deleteById">
        UPDATE tag SET is_del = 1
        WHERE id = #{id}
    </update>
</mapper>